{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Hariswdev</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    </head>
    <body style="background-color: #88BDBC;">
        <main>
            <header>
                <div class="px-3 py-2 bg-dark text-white">
                    <div class="container">
                      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                            <img src="{% static 'img/hacker.png' %}" alt="" width="40" class="d-inline-block align-text-top">
                            Hariswdev
                        </a>
                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                          <li>
                            <a href="#" class="nav-link text-secondary">
                              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                              Home
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link text-white">
                              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                              Dashboard
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
            </header>
            <div class="container">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-white">
                    {% block content %}
                    {% endblock %}
                  </div>
            </div>
        </div>
        </main>
        <script src="{% static '/js/bootstrap.bundle.min.js' %}" ></script>
        <script src="{% static '/js/jquery-3.6.0.min.js' %}" ></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>